<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/style/parent.css" />
    <title>Document</title>
  </head>
  <body>
    <header class="main-header">
      <div class="header-content">
        <a href="/">
          <h1>Groupie Tracker</h1>
        </a>
      </div>
      <nav class="main-nav">
        <ul>
          <li><a href="/artists" class="active">Artists</a></li>
          <li><a href="/locations">Locations</a></li>
          <li><a href="/dates">Dates</a></li>
          <li><a href="/relations">Relations</a></li>
        </ul>
      </nav>
    </header>

    <main class="main-content" id="main-content">
      <h1>dates</h1>
      {{range .}}
      <div>
        <p>{{range .Dates}} {{ .}} {{end}}</p>
      </div>
      {{end}}
    </main>

    <footer class="main-footer">
      <p>&copy; 2024 Groupie Tracker | All Rights Reserved</p>
    </footer>
  </body>
</html>
