<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Artist Details</title>
    <link rel="stylesheet" href="/static/style/parent.css" />
    <link rel="stylesheet" href="/static/style/details.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css"  />
  </head>
  <body>
    <header class="main-header">
      <div class="header-content">
        <a href="/">
          <h1>Groupie Tracker</h1>
        </a>
      </div>

    </header>

    <main class="main-content" id="main-content">
      <!-- Artist Image and Name Section -->
      <div class="artist-header">
        <img src="{{.Image}}" alt="{{.Name}}" class="artist-image" />
        <div class="artist-info">
          <h1>{{.Name}}</h1>
          <p class="creation-date">
            <strong>Creation Date:</strong> {{.CreationDate}}
          </p>
          <p class="first-album">
            <strong>First Album:</strong> {{.FirstAlbum}}
          </p>
          
        </div>

      <!-- Back Link -->
      <div class="back-link">
        <a href="/" class="back-button"><i class="fa-solid fa-arrow-left"></i></a>
      </div>
      </div>

      <!-- Members Section -->
      <section class="members-section">
        <h2>Band Members</h2>
        <ul class="members-list">
          <li>{{range .Members}}</li>
          <li>{{.}}</li>
          <li>{{end}}</li>
        </ul>
      </section>
      <section class="table-sections">
        <!-- Locations Table -->
        <div class="locations-section">
          <h2>Locations</h2>
          <table>
            <thead>
              <tr>
                <th>Location</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{.Locations}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      
        <!-- Dates Table -->
        <div class="dates-section">
          <h2>Dates</h2>
          <table>
            <thead>
              <tr>
                <th>Concert Dates</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{.ConcertDates}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      
        <!-- Concert Info Table -->
        <div class="concert-info">
          <h2>Concert Information</h2>
          <table class="concert-table">
            <thead>
              <tr>
                <th>Location</th>
                <th>Dates</th>
              </tr>
            </thead>
            <tbody>
              {{range $location, $dates := .Relation}}
              <tr>
                <td>{{ $location }}</td>
                <td>
                  {{range $index, $date := $dates}} {{ $date }}<br />
                  {{end}}
                </td>
              </tr>
              {{end}}
            </tbody>
          </table>
        </div>
      </section>
      
      
    </main>

    <footer class="main-footer">
      <p>&copy; 2024 Groupie Tracker | All Rights Reserved</p>
    </footer>
  </body>
</html>
