<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/style/cards.css">
</head>
<body>
    <div class="card">
        <a href="/artist/{{.Id}}">
            <img src="{{.Image}}" alt="{{.Name}}">
        </a>
        <h2>{{.Name}}</h2>
        <p><strong>Creation Date:</strong> {{.CreationDate}}</p>
        <p><strong>First Album:</strong> {{.FirstAlbum}}</p>
        <table>
            <tr>
                <th>Members </th>
            </tr>
            {{range .Members}}
            <tr>
                <td>{{.}}</td>
            </tr>
            {{end}}
        </table>
        <table>
            <tr>
                <th>Locations </th>
            </tr>
            {{range .Locations}}
            <tr>
                <td>{{.}}</td>
            </tr>
            {{end}}
        </table>
    </div>
</body>
</html>