<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/style/err.css" />
    <link rel="stylesheet" href="/static/style/parent.css" />
    <title>Document</title>
  </head>
  <body>
    <header class="main-header">
      <section class="header-content">
        <a href="/">
          <h1>Groupie Tracker</h1>
        </a>
      </section>
      <nav class="main-nav">
        <ul>
          <li><a class="link" href="/artists" class="active">Artists</a></li>
          <li><a class="link" href="/locations">Locations</a></li>
          <li><a class="link" href="/dates">Dates</a></li>
          <li><a class="link" href="/relations">Relations</a></li>
        </ul>
      </nav>
    </header>

    <main class="main-content" id="main-content">
      <div>
        <h1>{{.StatusCode}} => {{.Message}}</h1>
        <div>
          <a class="link" href="/aritsts">go to artists</a>
        </div>
      </div>
    </main>

    <footer class="main-footer">
      <p>&copy; 2024 Groupie Tracker | All Rights Reserved</p>
    </footer>
  </body>
</html>
