<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Groupie Tracker</title>
    <link rel="stylesheet" href="/static/style/parent.css" />
    <link rel="stylesheet" href="/static/style/cards.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css"  />


  </head>
  <body>
    <header class="main-header">
      <div class="header-content">
        <a href="/">
          <h1>Groupie Tracker</h1>
        </a>
      </div>

        <form action="/" id="searchForm" method="GET">
          <input
            type="text"
            id="search"
            name="search"
            list="suggestions"
            placeholder="Search for an artist"
            required
          />
          <datalist id="suggestions">
            
          </datalist>
          <button type="submit" class="search"><i class="fa-solid fa-magnifying-glass"></i> </button>
        </form>
   

  
     
    </header>

    
    <main class="main-content">
      <div class="container" id="artistContainer">
          
      </div>
      <script id="artistData" type="application/json">
          {{ .}}
      </script>
      <script src="/static/js/artists.js"></script>
      <script>
        document.addEventListener("DOMContentLoaded", () => {
          const form = document.getElementById("searchForm");
          const queryString = window.location.search;
          if (queryString.includes("search=")) {
            form.style.display = "none"; // Hide the form if there is a search query
          } else {
            form.style.display = "block"; // Show the form otherwise
          }
        });
      </script>
  </main>

    <footer class="main-footer">
      <p>&copy; 2024 Groupie Tracker | All Rights Reserved</p>
    </footer>
  </body>
</html>
