<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/style/nav.css">
</head>
<body>
    <nav>
        <a href="/artists" class="active">Artists</a>
        <a href="/locations">Locations</a>
        <a href="/dates">Dates</a>
        <a href="/relations">Relations</a>
    </nav>
    <div class="container" id="effect">
        
    </div>
</body>
</html>