<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/style/cards.css">
    <link rel="stylesheet" href="../static/style/nav.css">
</head>
<body>
    <nav>
        <a href="/artists" class="active">Artists</a>
        <a href="/locations">Locations</a>
        <a href="/dates">Concert Dates</a>
        <a href="/relations">Relations</a>
    </nav>
    <h1>Artists</h1>   
    <div class="container">
        {{range .}}
        <div class="card">
            <a href="/artist/{{.Id}}">
                <img src="{{.Image}}" alt="{{.Name}}">
            </a>
            <h2>{{.Name}}</h2>
            <p><strong>Members:</strong></p>
            <p class="members">{{range .Members}}{{.}}, {{end}}</p>
            <p><strong>Creation Date:</strong> {{.CreationDate}}</p>
            <p><strong>First Album:</strong> {{.FirstAlbum}}</p>
        </div>
        {{end}}
    </div>
</body>
</html>