main {
    font-family: 'Arial', sans-serif;
    color: white;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

#main-content-err{
    max-width: 800px;
}

/* Main Content-err Section */
.main-content-err {
    text-align: center;
    padding: 50px 20px;
    margin: 0 auto;
    margin-top: 50px;
    backdrop-filter: blur(5px);
    border-radius: 8px;
    border: red solid 1px;

}

.main-content-err p {
    font-size: 1.3rem;
    line-height: 1.6;
    color: white;
    opacity: 0.9;
    border: blue solid 1px;

}

div {
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: white solid 1px;
    width: 300px;
}

.link {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    background-color: white;
    color: black;
    font-weight: bold;
}

a:hover {
    background-color: rgb(223, 222, 222);
}