/* Resetting some styles for better control */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Full body styling */
body {
    font-family: 'Arial', sans-serif;
    background-image: url("/static/images/blackBackground.jpg"); 
    color: #333; 
    line-height: 1.6;
}

/* Header Section */
.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 20px 40px;
}


.main-header h1 {
    font-size: 3rem;
    margin-right: 20px;
    transition: color 0.3s ease;
}

.main-header h1:hover {
    color: aqua; 
}

a{
    color: white;
    text-decoration: none;
}

#main-content{
    max-width: 800px;
}

/* Main Content Section */
.main-content {
    text-align: center;
    padding: 50px 20px;
    margin: 0 auto;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
}






.main-content p {
    font-size: 1.3rem;
    line-height: 1.6;
    color: #555;
    opacity: 0.9;
    transition: opacity 0.3s ease-in-out;
}

.main-content p:hover {
    opacity: 1; /* Slight fade effect on hover */
}

/* Footer Section */
.main-footer {
    color: white;
    text-align: center;
    padding: 20px 0;
    width: 100%;
    transition: background-color 0.3s ease-in-out;
}



.main-footer p {
    font-size: 1rem;
    transition: font-size 0.3s ease-in-out;
}



/* Smooth Scroll */
html {
    scroll-behavior: smooth;
}

/* Add responsiveness: Stack elements vertically on smaller screens */
@media (max-width: 768px) {
    .main-header {
        flex-direction: column;
        text-align: center;
    }

    .main-nav {
        margin-top: 20px;
    }

    .main-nav ul {
        flex-direction: column;
    }

    .main-nav ul li {
        margin: 10px 0;
    }

    .main-content {
        padding: 30px 15px;
    }
}
